<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<nav aria-label="Page navigation" th:fragment="paginator">
		<ul class="pagination justify-content-center">
		
			<!-- not -->
			<li th:class="${page.first ? 'page-item disabled' : 'page-item'}">
				<a class="page-link" th:href="@{${page.url}(page=0)}">First</a>
			</li>
				
			<li th:class="${not page.hasPrevious() ? 'page-item disabled' : 'page-item'}">
				<a class="page-link" th:href="@{${page.url}(page=${page.currentPage - 2})}">&laquo;</a>
			</li>
			
			<!-- not -->
			<li th:each="item : ${page.pages}" class="page-item">
				<a th:class="${item.current ? 'page-link active' : 'page-link'}" th:text="${item.number}" th:href="@{${page.url}(page=${item.number - 1})}"></a>
			</li>
			
			<li th:class="${not page.hasNext() ? 'page-item disabled' : 'page-item'}" >
				<a class="page-link" th:href="@{${page.url}(page=${page.currentPage})}">&raquo;</a>
			</li>
			
			<!-- not -->	
			<li th:class="${page.last ? 'page-item disabled' : 'page-item'}" class="page-item">
				<a class="page-link" th:href="@{${page.url}(page=${page.totalPages - 1})}">Last</a>
			</li>
		</ul>
	</nav>
</body>
</html>