<h1>{{ title }}</h1>
<form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="customer.name" placeholder="Frodo">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="customer.lastname" placeholder="Baggins">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="customer.email" placeholder="frodo@mail.com">
    </div>
    <button class="btn btn-danger" [routerLink]="['/customers']">Back</button>
    <button class="btn btn-primary ml-2" *ngIf="!customer.id else elseBlock" (click)="create()">Create</button>
    <ng-template #elseBlock>
      <button class="btn btn-primary ml-2" (click)="edit()">Edit</button>
    </ng-template>
  </form>