<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/layout :: head"></head>
<body>
	<header th:replace="shared/layout :: header"></header>

	<div class="container">

		<div class="card mb-3 mt-3" style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4"
					th:if="${not #strings.isEmpty(customer.photo)}">
					<img th:src="@{'/customers/uploads/' + ${customer.photo}}"
						class="card-img" th:alt="${customer.photo}" />
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title" th:text="${title}"></h5>
						<p class="card-text"
							th:text="${customer.name} + ' ' + ${customer.lastname}"></p>
						<p class="card-text" th:text="${customer.email}"></p>
						<p class="card-text">
							<small class="text-muted" th:text="${customer.createdAt}"></small>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div th:if="${#lists.isEmpty(customer.invoices)}"
			th:text="${'There isn''t invoices assigned to ' + customer.name + ' ' + customer.lastname}"
			class="alert alert-primary" role="alert"></div>

		<table class="table mt-2" th:if="${not #lists.isEmpty(customer.invoices)}">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Description</th>
					<th scope="col">Date</th>
					<th scope="col">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bill : ${customer.invoices}">
					<th th:text="${bill.id}"></th>
					<td th:text="${bill.description}"></td>
					<td th:text="${bill.createdAt}"></td>
					<td th:text="${bill.getTotal()}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="shared/layout :: footer"></footer>
</body>
</html>