<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/layout :: head"></head>
<body>
	<header th:replace="shared/layout :: header"></header>

	<div class="container">
		<h1 th:text="${title}" class="mt-2"></h1>
		<hr>
		<a class="btn btn-primary" th:href="@{/customers/form}" role="button">Create</a>
		<table class="table mt-2">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Email</th>
					<th scope="col">Created At</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${customers}">
					<th th:text="${customer.id}"></th>
					<td th:text="${customer.name}"></td>
					<td th:text="${customer.lastname}"></td>
					<td th:text="${customer.email}"></td>
					<td th:text="${customer.createdAt}"></td>
					<td>
						<a th:href="@{/customers/details/} + ${customer.id}" th:text="Details" 
								class="btn btn-outline-secondary btn-sm"></a>
						<a th:href="@{/customers/form/} + ${customer.id}" th:text="Edit" 
								class="btn btn-outline-primary btn-sm"></a>
						<a th:href="@{/customers/delete/} + ${customer.id}" th:text="Delete" 
								class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure?')"></a>		
					</td>
				</tr>
			</tbody>
		</table>

		<nav th:replace="shared/paginator-nav :: paginator"></nav>

	</div>
	<footer th:replace="shared/layout :: footer"></footer>
</body>
</html>