<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title th:text="${ title }"></title>
</head>
<body>
	<h1 th:text="${ title }"></h1>
	<br>
	<table>
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Price</th>
				<th>Created At</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${ products }">
				<td th:text="${ product.id }"></td>
				<td th:text="${ product.name }"></td>
				<td th:text="${ product.price }"></td>
				<td th:text="${ product.createdAt }"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>