<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<div th:if="${users.size() == 0}">There is not users...</div>
	<div th:if="${users.isEmpty()}">There is not users...</div>

	<table th:if="${not users.isEmpty()}">
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.name}"></td>
				<td th:text="${user.surname}"></td>
				<td th:text="${user.email}"></td>
			</tr>
		</tbody>

	</table>
</body>
</html>